<!-- templates/generated_test.html -->

{% extends 'base.html' %}

{% block title %}
Generated Questions
{% endblock %}

{% block css %}
<style>
    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .header {
        background-color: #006349;
        width: 100%;
        padding: 70px 0;
        box-sizing: border-box;
        text-align: center;
        color: white;
    }
    .title-box {
        background-color: white;
        color: #009150;
        padding: 20px;
        border-radius: 0px;
        text-align: center;
        max-width: 600px;
        margin: -50px auto 0 auto;
        box-shadow: 0 30px 70px rgba(0, 0, 0, 0.1);
    }
    .questions-container {
        max-width: 1270px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .triangle-box {
        width: 100%;
        max-width: 600px;
        background-color: #f9f9f9;
        margin: 10px 0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .triangle-box .question-text {
        font-family: 'Noto Sans Hebrew New', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #454545;
        text-align: right;
        direction: rtl;
        white-space: normal;
    }

    .triangle-box .question-number {
        display: inline-block;
        background-color: #4deba4;
        color: #454545;
        padding: 5px 10px;
        border-radius: 2px;
        margin-right: -10px;
    }

    .question-container {
        display: flex;
        align-items: center;
    }

    .question-text-container {
        flex-grow: 1;
    }

    .triangle-box .menu-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .triangle-box .menu-button .dots {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .triangle-box .menu-button .dots span {
        display: block;
        width: 6px;
        height: 6px;
        background: black;
        border-radius: 50%;
        margin: 2px 0;
    }

    .triangle-box .menu {
        display: none;
        position: absolute;
        top: 30px;
        left: 10px;
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 27.2px 0px #0000001C;
        z-index: 1;
    }

    .triangle-box .menu button {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }

    .triangle-box .menu button:hover {
        background-color: #f1f1f1;
    }

    .header-text {
        position: absolute;
        top: 25px;
        left: 20px;
        color: white;
        font-size: 14px;
        font-family: Arial Rounded MT Bold;
    }

    .edit-form {
        display: none;
        margin-top: 10px;
        font-family: 'Noto Sans Hebrew New', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #454545;
        text-align: right;
        direction: rtl;
        white-space: normal;
    }

    .add-question-btn {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background-color: #009150;
        color: white;
        border-radius: 50%;
        border: none;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        z-index: 1000;
    }

    #questions-container {
        padding-bottom: 80px;
    }
</style>
{% endblock %}

{% block content %}
<div class="header">
    <div class="header-text">BEYOND GRADES</div>
</div>
<div class="title-box">
    <h2 style="font-size: 24px; color: #009150">שאלון בנושא {{ test_title }}</h2>
    <h2 style="font-size: 18px; color: black">{{ skill }} ∙ כיתה {{ grade }}</h2>
</div>
<div class="questions-container">
    <form method="post" id="questions-form" action="{% url 'generate_link' %}">
        {% csrf_token %}
        <input type="hidden" name="grade" value="{{ grade }}">
        <input type="hidden" name="test_title" value="{{ test_title }}">
        <input type="hidden" name="skill" value="{{ skill }}">
        <input type="hidden" name="subject" value="{{ subject }}">
        <input type="hidden" name="test_id" value="{{ test_id }}">
        <div id="questions-list">
            {% for question in generated_questions %}
                <div class="triangle-box" id="triangle-box-{{ forloop.counter }}">
                    <div class="question-text" id="question-text-{{ forloop.counter }}">
                        <span class="question-number">{{ forloop.counter }}</span> {{ question }}
                        <button class="menu-button" type="button" onclick="toggleMenu(event)">...</button>
                        <div class="menu" style="display: none;">
                            <button type="button" onclick="showEditForm('{{ forloop.counter }}', '{{ question }}')">ערוך</button>
                            <button type="button" onclick="deleteQuestion('{{ forloop.counter }}')">מחק</button>
                            <button type="button" onclick="moveQuestionUp('{{ forloop.counter }}')">העברה למעלה</button>
                            <button type="button" onclick="moveQuestionDown('{{ forloop.counter }}')">העברה למטה</button>
                        </div>
                    </div>
                    <div class="edit-form" id="edit-form-{{ forloop.counter }}">
                        <input type="text" id="edit-input-{{ forloop.counter }}" value="{{ question }}" />
                        <button type="button" onclick="saveQuestion('{{ forloop.counter }}')">שמור</button>
                        <button type="button" onclick="cancelEdit('{{ forloop.counter }}')">בטל</button>
                    </div>
                    <input type="hidden" name="questions[]" id="hidden-question-{{ forloop.counter }}" value="{{ question }}">
                </div>
            {% endfor %}
        </div>
        <button class="add-question-btn" type="button" onclick="addQuestion()">+</button>
        <button type="submit" style="background-color: #009150; color: white; padding: 10px 20px; border: none;">יצירת קישור לשאלון</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function toggleMenu(event) {
        event.stopPropagation();
        const menu = event.currentTarget.nextElementSibling;
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    }

    function showEditForm(counter, question) {
        document.getElementById(`question-text-${counter}`).style.display = 'none';
        document.getElementById(`edit-form-${counter}`).style.display = 'block';
        document.getElementById(`edit-input-${counter}`).value = question;
    }

    function saveQuestion(counter) {
        const questionInput = document.getElementById(`edit-input-${counter}`);
        const questionText = questionInput.value;
        document.getElementById(`question-text-${counter}`).innerHTML = `<span class="question-number">${counter}</span> ${questionText}
            <button class="menu-button" type="button" onclick="toggleMenu(event)">...</button>
            <div class="menu" style="display: none;">
                <button type="button" onclick="showEditForm('${counter}', '${questionText}')">ערוך</button>
                <button type="button" onclick="deleteQuestion('${counter}')">מחק</button>
                <button type="button" onclick="moveQuestionUp('${counter}')">העברה למעלה</button>
                <button type="button" onclick="moveQuestionDown('${counter}')">העברה למטה</button>
            </div>`;
        document.getElementById(`question-text-${counter}`).style.display = 'block';
        document.getElementById(`edit-form-${counter}`).style.display = 'none';
        document.getElementById(`hidden-question-${counter}`).value = questionText;
    }

    function cancelEdit(counter) {
        document.getElementById(`question-text-${counter}`).style.display = 'block';
        document.getElementById(`edit-form-${counter}`).style.display = 'none';
    }

    function deleteQuestion(counter) {
        const questionBox = document.getElementById(`triangle-box-${counter}`);
        questionBox.remove();
    }

    function moveQuestionUp(counter) {
        const currentQuestion = document.getElementById(`triangle-box-${counter}`);
        const previousQuestion = currentQuestion.previousElementSibling;
        if (previousQuestion) {
            currentQuestion.parentNode.insertBefore(currentQuestion, previousQuestion);
        }
    }

    function moveQuestionDown(counter) {
        const currentQuestion = document.getElementById(`triangle-box-${counter}`);
        const nextQuestion = currentQuestion.nextElementSibling;
        if (nextQuestion) {
            currentQuestion.parentNode.insertBefore(nextQuestion, currentQuestion);
        }
    }

    function addQuestion() {
        const questionsList = document.getElementById('questions-list');
        const newCounter = questionsList.children.length + 1;
        const newQuestion = document.createElement('div');
        newQuestion.className = 'triangle-box';
        newQuestion.id = `triangle-box-${newCounter}`;
        newQuestion.innerHTML = `
            <div class="question-text" id="question-text-${newCounter}">
                <span class="question-number">${newCounter}</span> 
                <input type="text" id="new-question-${newCounter}" placeholder="הכנס שאלה כאן"/>
                <button class="menu-button" type="button" onclick="toggleMenu(event)">...</button>
                <div class="menu" style="display: none;">
                    <button type="button" onclick="showEditForm('${newCounter}', '')">ערוך</button>
                    <button type="button" onclick="deleteQuestion('${newCounter}')">מחק</button>
                    <button type="button" onclick="moveQuestionUp('${newCounter}')">העברה למעלה</button>
                    <button type="button" onclick="moveQuestionDown('${newCounter}')">העברה למטה</button>
                </div>
            </div>
            <div class="edit-form" id="edit-form-${newCounter}">
                <input type="text" id="edit-input-${newCounter}" value="" />
                <button type="button" onclick="saveQuestion('${newCounter}')">שמור</button>
                <button type="button" onclick="cancelEdit('${newCounter}')">בטל</button>
            </div>
            <input type="hidden" name="questions[]" id="hidden-question-${newCounter}" value="">
        `;
        questionsList.appendChild(newQuestion);
    }

    document.addEventListener('click', function(event) {
        const menus = document.querySelectorAll('.menu');
        menus.forEach(menu => {
            if (!menu.contains(event.target)) {
                menu.style.display = 'none';
            }
        });
    });

    document.getElementById('questions-form').addEventListener('submit', function(event) {
        const questionInputs = document.querySelectorAll('input[name="questions[]"]');
        questionInputs.forEach(input => {
            if (input.value.trim() === '') {
                event.preventDefault();
                alert('Please fill in all the questions before submitting.');
                return false;
            }
        });
    });
</script>
{% endblock %}
