<!-- main_screen.html -->

{% extends 'base.html' %}

{% block title %}
Main Screen
{% endblock %}

{% block css %}
<style>
    /* Add any custom CSS styles here */
    .button-container {
        text-align: center;
        margin-top: 100px;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="button-container">
    <h1>מסך מורה-ראשי</h1>
    <h2>ברוך הבא</h2>
    <button class="button" onclick="window.location.href='{% url 'create_questions' %}';">צור שאלון</button>
    <button class="button" onclick="window.location.href='{% url 'tests_screen' %}'">בדיקת תוצאות</button>
</div>
{% endblock %}
