{% extends 'base.html' %}

{% block title %}
Soft Skills - Review Test
{% endblock %}

{% block css %}
<style>
    /* Additional CSS specific to this screen */
    .title-container {
        text-align: center;
        margin-top: 50px; /* Adjust as needed */
    }
    .test-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    .evaluation {
        width: 100%;
        height: 100px; /* Adjust as needed */
        margin-bottom: 20px;
    }
    .error-message {
        color: red;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="title-container">
    <h1 style="font-size: 3rem;"> ההגשה של  {{ student_name }}</h1>
    <h3 style="font-size: 3rem;">  {{ test.subject }}</h3>

    <div class="test-container">
        <h2>Test Questions:</h2>
        <form method="post">
            {% csrf_token %}
            {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>origin Evaluation</th>
                        <th>teacher Evaluation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question, answer in question_answers_dict.items %}
                    <tr>
                        <td>{{ question.text }}</td>
                        <td>{{ answer.answer_text }}</td>
                        <td>{{ answer.origin_eval }}</td>
                        <td>
                            {% if answer.is_approved %}
                                <span class="evaluation">{{ answer.approved_eval }}</span>
                            {% else %}
                                <textarea class="evaluation" name="evaluation_{{ question.id }}">{{ answer.origin_eval }}</textarea>
                            {% endif %}
                            <input type="hidden" name="question_id_{{ question.id }}" value="{{ question.id }}">
                            <input type="hidden" name="test_id" value="{{ test.id }}">
                            <input type="hidden" name="student_id" value="{{ student.student_id }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
