{% extends 'base.html' %}

{% block title %}
Soft Skills
{% endblock %}


{% block css %}
<style>
body {
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .header {
        background-color: #006349;
        width: 100%;
        padding: 70px 0;
        box-sizing: border-box;
    }
    /*.title-box {*/
    /*    background-color: white;*/
    /*    color: #009150;*/
    /*    padding: 20px;*/
    /*    border-radius: 0px;*/
    /*    text-align: center;*/
    /*    max-width: 600px;*/
    /*    margin: -50px auto 0 auto; !* Adjusted margin to move it down *!*/
    /*    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.1); !* Added shadow *!*/
    /*}*/
    /* Additional CSS specific to this screen */
    input[type="text"],
    button {
        text-align: right;
        margin-bottom: 20px; /* Increase the gap between input fields and buttons */
    }
    .title-container {
        text-align: center;
        margin-top: 70vh;
        transform: translateY(-50%);
    }
    .header h1 {
        color: white;
        text-align: right;
        font-size: 26px; /* Adjust size as needed */
        font-weight: normal; /* Use 'normal' if you don't want it bold */
        font-family: Noto Sans Hebrew New; /* Change to your preferred font */
        margin-right: 90px;
        margin-bottom: -30px; /* Add margin-bottom to create space below h1 */
    }
    .form-container {
        max-width: 900px;
        margin: 20px auto 0 auto; /* Adjusted margin to move it down */
        padding: 20px;
        background-color: transparent;
        /*border-radius: 0px;*/
        /*box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);*/
    }
    .form-container h3 {
        color: black;
        text-align: right;
        font-size: 21px; /* Adjust size as needed */
        font-weight: normal; /* Use 'normal' if you don't want it bold */
        font-family: Noto Sans Hebrew New; /* Change to your preferred font */
        margin-right: 0px;
        margin-bottom: 20px; /* Add margin-bottom to create space below h1 */
    }
    .form-container h4 {
        color: black;
        text-align: right;
        font-size: 21px; /* Adjust size as needed */
        font-weight: normal; /* Use 'normal' if you don't want it bold */
        font-family: Noto Sans Hebrew New; /* Change to your preferred font */
        margin-right: 0px;
        margin-bottom: 10px; /* Add margin-bottom to create space below h1 */
        margin-top: 40px;
    }
    .form-container input[type="file"],
    .form-container textarea,
    .form-container select {
        width: calc(100% - 20px);
        margin: 10px 0;
        padding: 15px;
        border: 2px solid #eaeaea;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 1.2rem;
        transition: border-color 0.3s ease;
    }
    .form-container input[type="text"] {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
    }

    .form-container input[type="file"]:focus,
    .form-container textarea:focus,
    .form-container select:focus {
        border-color: #007bff;
        outline: none;
    }
    .form-container button {
        width: 20%;
        padding: 8px;
        background-color: #006349;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 1.2rem;
        margin-left: -900px;
        margin-top: 20px; /* Add margin-top to create space between the textarea and button */
    }
    .form-container button:hover {
        background-color: #004727;
    }



    .link-to-survey {
        display: inline-block;
        font-size: 1.5rem;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s ease;
    }

    .link-to-survey:hover {
        color: #0056b3;
    }
    .header-text {
        position: absolute;
        top: 25px;
        left: 20px;
        color: white;
        font-size: 14px; /* Adjust size as needed */
        font-family: Arial Rounded MT Bold; /* Change to your preferred font */
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        gap: 5px; /* Add space between the checkboxes */
        justify-content: right; /* Center the checkboxes */
        font-size: 14px;
        margin-bottom: 20px; /* Add space below the checkboxes */
        margin-right: 80px; /* Add space below the checkboxes */
        transform: scale(1.2);
        -webkit-transform: scale(1.2); /* For Safari */
    }

    .checkbox-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px; /* Adjust gap between text and checkbox */
    padding: 5px; /* Add padding for better visual effect */
    border-radius: 5px; /* Optional: Add border radius for better aesthetics */
    /*background-color: white; !* Smooth transition for background color *!*/
}

    .checkbox-group input[type="checkbox"]:checked {
        /*transform: scale(1.5);*/
    accent-color: #ffbfeb; /* Set the background color when checked */
}


    .skill-selection {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.cube {
    width: 200px;
    height: 150px;
    background-color: white;
    color: black;
    /*border: 2px solid #006349;*/
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cube:hover {
    background-color: #e0b8d4;
}

.cube.selected {
    background-color: #F3CCE7;
}

.cube-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.cube-description {
    font-size: 1rem;
}

input[type="hidden"] {
    display: none;
}
textarea {
    direction: rtl; /* Set text direction to right-to-left */
    text-align: right; /* Align text to the right */
}

</style>
{% endblock %}

{% block content %}
    <div class="header">
<div class="header-text">BEYOND GRADES</div>
        <h1>נתחיל בכמה פרטים על הכיתה, על חומר הלימוד ועל המיומנות</h1>
</div>
<div class="title-container">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}

            <h3>?מה המקצוע שלך</h3>
            <div class="checkbox-group">
                <label>אזרחות<input type="checkbox" name="subject" value="אזרחות"></label>
                <label>תרבות ישראל<input type="checkbox" name="subject" value="תרבות ישראל"></label>
                <label>תנ״ך<input type="checkbox" name="subject" value="תנ״ך"></label>
                <label>ספרות<input type="checkbox" name="subject" value="ספרות"></label>
                <label>היסטוריה<input type="checkbox" name="subject" value="היסטוריה"></label>
            </div>

            <h4>?כיתה</h4>
            <div class="checkbox-group">
                <label>ט׳<input type="checkbox" name="grade" value="ט׳"></label>
                <label>ח׳<input type="checkbox" name="grade" value="ח׳"></label>
                <label>ז׳<input type="checkbox" name="grade" value="ז׳"></label>
            </div>

            <h4>כותרת השאלון</h4>
            <input type="text" name="title" placeholder="”.לדוגמא: “הפיצול בחברה היהודית בסוף ימי בית שני">


            <h4>תוכן הלימוד</h4>
            <textarea name="input_text" rows="5" placeholder="כאן אפשר לכתוב או להדביק את החומר הלימודי"></textarea>

            <h4>?איזה מיומנויות התלמידים יתרגלו</h4>
            <div class="skill-selection">
                <div class="cube" data-value="חשיבה ביקורתית">
                    <div class="cube-title">חשיבה ביקורתית</div>
                    <div class="cube-description">היכולת לזהות באופן מדויק את רגשותיי, מחשבותיי וערכי וכיצד הם משפיעים על התנהגותי </div>
                </div>
                <div class="cube" data-value="אמפתיה">
                    <div class="cube-title">אמפתיה</div>
                    <div class="cube-description">תיאור של אמפתיההיכולת להבין ולחוש את רגשותיהם ונקודות המבט של אחרים</div>
                </div>
            </div>
            <input type="hidden" name="skill" id="selected-skill">

            <button type="submit" formaction="{% url 'create_questions' %}">יצירת שאלון</button>
        </form>
    </div>
</div>

<!-- JavaScript code to copy link -->
<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        var link = window.location.origin + '{{ test_page_url }}';
        var tempInput = document.createElement('input');
        tempInput.setAttribute('value', link);
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('קישור הועתק: ' + link);
    });
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const cubes = document.querySelectorAll(".cube");

        cubes.forEach(cube => {
            cube.addEventListener("click", function() {
                // Remove 'selected' class from all cubes
                cubes.forEach(c => c.classList.remove("selected"));

                // Add 'selected' class to the clicked cube
                this.classList.add("selected");

                // Set the selected skill value to the hidden input
                const selectedSkill = this.getAttribute("data-value");
                document.getElementById("selected-skill").value = selectedSkill;
            });
        });
    });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const checkboxes = document.querySelectorAll('input[name="subject"]');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    checkboxes.forEach(otherCheckbox => {
                        if (otherCheckbox !== this) {
                            otherCheckbox.checked = false;
                        }
                    });
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const checkboxes = document.querySelectorAll('input[name="grade"]');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    checkboxes.forEach(otherCheckbox => {
                        if (otherCheckbox !== this) {
                            otherCheckbox.checked = false;
                        }
                    });
                }
            });
        });
    });
</script>

{% endblock %}
